@model ManyToManyApp.Models.Student
@using ManyToManyApp.Models;
@{
    ViewBag.Title = "Details";
}

<h2>Info about student</h2>

<div class="display-label"><b>Name</b></div>
<div class="display-field">@Html.DisplayFor(m => m.Name)</div>

<div class="display-label"><b>Surname</b></div>
<div class="display-field">@Html.DisplayFor(m => m.Surname)</div>

<div class="display-label"><b>Courses</b></div>
<ul>
    @foreach (var c in Model.Courses)
    {
        <li>@c.Name</li>
    }
</ul>

